#section1{
    background-color: rgb(238, 0, 90);
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}

.btn-success{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}